<!doctype html>
<html lang="en" ng-app="eventsApp">
    <head>
        <meta charset="utf-8">
        <title>Event Registration</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/app.css">
        <style type="text/css">
            .headder-image{
                padding: 0px 20px 20px;
                width: 95%;
            }
        </style>
    </head>
    <body>
        <div class="container-fluid" ng-controller="EditProfileController">
            <style>input.ng-invalid.ng-dirty{background-color: pink}</style>
                    <form name="profileForm">
                        <div class="fluid-row">
                            <div class="span3">
                                <img ng-src="{{getGravatarUrl(user.emailAddress)}}"/>
                            </div>
                        </div>
                <div class="span3">
                    <fieldset>
                        <label for="userName">User Name:</label>
                        <input focus id="userName" required type="text" ng-model="user.userName" placeholder="Username"/>
                        <label for="password">Password:</label>
                        <input id="password" required ng-pattern="/^[-A-Za-z0-9]{2,20}$/" type="password" ng-model="user.password" placeholder="Password"/>
                    </fieldset>
                    <div style="margin-top:10px;">
                    <fieldset>
                        <label for="name">Name:</label>
                        <input focus id="name" required type="text" ng-model="user.name" placeholder="Name"/>
                        <label for="emailAddress">Email Address:</label>
                        <input id="emailAddress" required type="email" ng-model="user.emailAddress" placeholder="Email Address"/>
                    </fieldset>
                 </div>
                </div>
              </div>
            <div class="row-fluid">
                <div class="span6 offset3">
                    <label for="bio">Bio:</label>
                    <textarea rows="6" style="width:96%;color:#52575c;" id="bio" required type="text" ng-model="user.bio" placeholder="Bio"></textarea>
                </div>
            </div> 
        </div>
        
        <script src="/lib/jquery.min.js"></script>
        <script src="/lib/underscore-1.4.4.min.js"></script>
        <script src="/lib/bootstrap.min.js"></script>
        <script src="/lib/angular/angular.js"></script>
        <script src="/lib/angular/angular-sanitize.js"></script>
        <script src="/lib/bootstrap.js"></script>
        <script src="/js/app.js"></script>
        <script src="/js/controllers/EventController.js"></script>
        <script src="/js/controllers/EditProfileController.js"></script>
        <script src="/js/services/gravatarUrlBuilder.js"></script>
        <script src="/js/filters.js"></script>
    </body>
</html>